#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game div{
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

img[alt*="shopCenter"] {
    height: 250px !important;
}

#game div img{
    height: 180px;
    margin: 0 -5px;
    padding: 0;
}


canvas {
    border: 1px solid red;
}